/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  /* background-color: #e0e0e0; */
  padding-top: 25px;
  font-size: 16px;
}

h2, h3, h4, h5, h6 {
  font-size: 120%;
}

h1 {
  font-size:150%;
  margin-bottom: 1em;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 2em;
}
.header li {
    position: relative;
    list-style: none;
    display: inline;
    padding-right: 15px;
}

/* .post { */
/*     padding-top: 10px; */
/* } */
#post ul, #post ol {
    margin-left: 1.35em;
}

h2 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #a99;
    font-family: Monaco, "Courier New", monospace;
  }

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.footer {
    font-size: 80%;
    color: #666;
    border-top: 1px solid #bababa;
    margin-top: 4em;
    overflow: hidden;
    margin-bottom: 1em;

  }

.footer a {
        color: #8085C1;
      }

